.modalOverlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    
}
.modalWindow{
    width: 500px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
}
.modalHeader{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.7rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a4b3c2;
}
.modalHeader span{
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
.modalFooter button,.modalHeader span:focus,
.modalFooter button,.modalHeader span:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      opacity: .75;
    }
.modalBody{
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
.modalFooter{
    opacity: 1;
    display: flex;
    justify-content: space-around;
}
.modalFooter button{
    opacity: 1;
    width: 180px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    border-radius: .3rem;
}
.Submit{
    background-color: #4FCFD8;
    width: 200px;
    border-radius: 0.3rem;
    height: 25px;
}
.Cancel{
    background-color: rgb(211, 74, 108);
}
.commentItem{
    border: 1px solid #D6D0D0;
    margin-bottom: 10px;
    border-radius: 0.3rem;
    width: 300px;
}
.comWrapper{
margin-left: 20px;
}
.inpWrap{
    width: 700px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.inpWrap button{
margin-left: 5px;
}